<div class="main__tabs">
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Фильмы</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Персонажи</label>

  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Корабли</label>

  <section id="content-tab1">
    <div>
			<app-films></app-films>
		</div>
  </section>  
  <section id="content-tab2">
    <div>
      <app-characters></app-characters>
		</div>
  </section> 
  <section id="content-tab3">
    <div>
      <app-ships></app-ships>
		</div>
  </section>   
</div>