/* Список */

.films__list {
	list-style: none;
}

.films__list--item {
	-o-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.films__list--item:hover {
  color: red;
}

/* Модалка */

.films__modal-wrapper {
	position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 4;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal {
  background-color: white;
  padding: 10px;
  width: 320px;
  height: 480px;
  max-height: 480px;
  border-radius: 10px;
}	
		
.modal__header {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
  max-height: 70px;
}

.modal__header--title {
  margin-left: 10px;
}
    
.modal__button--close {
  display: inline-block;
  background-color: red;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  padding: 1px 5px;
  color: white;
}

.modal__content {
  max-height: 380px;
  overflow-y: scroll;
}