<div class="films">
	<div class="films__search">
		<input type="text" id="search-film" placeholder="Поиск">
	</div>
	<div *ngIf="!films" class="loader"></div>
	<div *ngIf="films && films.length === 0">Ничего не найдено</div>

	<ul class="films__list">
		<li class="films__list--item" *ngFor="let film of films">
			<span (click)="showModal(film)">{{ film.title }}</span>
		</li>
	</ul>

	<div *ngIf="currentFilm" class="films__modal-wrapper">
    <article class="modal">
      <header class="modal__header">
				<h3 class="modal__header--title">{{ currentFilm.title }}</h3>
        <span
          class="modal__button modal__button--close"
          (click)="closeModal()"
        >
          X
        </span>
      </header>
      <section class="modal__content">
        <div class="modal__info">
          <p>Режиссер: {{ currentFilm.director }}</p>
          <p>Год выпуска: {{ currentFilm.release_date.substr(0, 4) }}</p>
          <p>Корабли:</p>
          <p *ngIf="ships.length === 0">Загрузка...</p>
          <ul *ngIf="ships.length !== 0">
            <li *ngFor="let ship of ships">
              {{ ship.name }}
            </li>
          </ul>
          <p>Расы:</p>
          <p *ngIf="species.length === 0">Загрузка...</p>
          <ul *ngIf="species.length !== 0">
            <li *ngFor="let race of species">
              {{ race.name }}
            </li>
          </ul>
          <p>Планеты:</p>
          <p *ngIf="planets.length === 0">Загрузка...</p>
          <ul *ngIf="planets.length !== 0">
            <li *ngFor="let planet of planets">
              {{ planet.name }}
            </li>
          </ul>
          <p>Транспорт:</p>
          <p *ngIf="vehicles.length === 0">Загрузка...</p>
          <ul *ngIf="vehicles.length !== 0">
            <li *ngFor="let vehicle of vehicles">
              {{ vehicle.name }}
            </li>
          </ul>
          <p>Персонажи:</p>
          <p *ngIf="characters.length === 0">Загрузка...</p>
          <ul *ngIf="characters.length !== 0">
            <li *ngFor="let character of characters">
              {{ character.name }}
            </li>
          </ul>
        </div>
      </section>
    </article>
  </div>
</div>