<div class="ships">
	<div class="ships__search">
		<input type="text" id="search-ship" placeholder="Поиск">
	</div>
	<div *ngIf="!ships.results" class="loader"></div>
	<div *ngIf="ships.results && ships.results.length === 0">Ничего не найдено</div>

	<ul *ngIf="ships" class="ships__list">
		<li class="ships__list--item" *ngFor="let ship of ships.results">
			<span (click)="showModal(ship)">{{ ship.name }}</span>
		</li>
	</ul>

	<div *ngIf="ships" class="ships__pagination">
		<span 
			(click)="fetchPreviousShips(ships.previous)"
			*ngIf="ships.previous"
			class="ships__pagination--previous"
		><< Предыдущая страница</span>
		<span 
			(click)="fetchNextShips(ships.next)" 
			*ngIf="ships.next" 
			class="ships__pagination--next"
		>Следующая страница >></span>
	</div>

	<div *ngIf="currentShip" class="ships__modal-wrapper">
    <article class="modal">
      <header class="modal__header">
				<h3 class="modal__header--title">{{ currentShip.name }}</h3>
        <span
          class="modal__button modal__button--close"
          (click)="closeModal()"
        >
          X
        </span>
      </header>
      <section class="modal__content">
        <div class="modal__info">
          <p>Модель: {{ currentShip.model }}</p>
					<p>Производитель: {{ currentShip.manufacturer }}</p>
					<p>Класс корабля: {{ currentShip.starship_class }}</p>
					<p>Длина корабля (в метрах): {{ currentShip.length }}</p>
					<p>Численность команды: {{ currentShip.crew }}</p>
					<p>Вместимость (пассажиров): {{ currentShip.passengers }}</p>
					<p>Стоимость (в кредитах): {{ currentShip.cost_in_credits }}</p>
        </div>
      </section>
    </article>
  </div>
</div>