<div class="ships">
	<div *ngIf="!ships" class="loader"></div>

	<ul *ngIf="ships" class="ships__list">
		<li class="ships__list--item" *ngFor="let ship of ships.results">
			<span (click)="showModal(ship)">{{ ship.name }}</span>
		</li>
	</ul>

	<div *ngIf="ships" class="ships__pagination">
		<span 
			(click)="fetchPreviousShips(ships.previous)"
			*ngIf="ships.previous"
			class="ships__pagination--previous"
		><< Предыдущая страница</span>
		<span 
			(click)="fetchNextShips(ships.next)" 
			*ngIf="ships.next" 
			class="ships__pagination--next"
		>Следующая страница >></span>
	</div>

	<div *ngIf="currentShip" class="ships__modal-wrapper">
    <article class="modal">
      <header class="modal__header">
				<h3 class="modal__header--title">{{ currentShip.name }}</h3>
        <span
          class="modal__button modal__button--close"
          (click)="closeModal()"
        >
          X
        </span>
      </header>
      <section class="modal__content">
        <div class="modal__info">
          <div class="modal__info--details">
            <p>Модель: {{ currentShip.model }}</p>
            <p>Производитель: {{ currentShip.manufacturer }}</p>
          </div>
        </div>
        <div class="modal__description">
					
        </div>
      </section>
    </article>
  </div>
</div>