* {
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
}

body {
	background-image: url(assets/img/bg.png);
	background-repeat: no-repeat;
	-o-background-size: cover;
		 background-size: cover;
	margin: 0;
	height: 100vh;
}

/**********************/
/********Header********/
/**********************/

.header {
	text-align: center;
}

.header__logo {
	width: 250px;
}

/**********************/
/********footer********/
/**********************/

.footer {
	text-shadow: yellow 0 0 2px;
	text-align: center;
	font-weight: bold;
}